@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html, body {
  font-family: "Asap", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #2c313c;
  font-size: 19px;
  line-height: 1.5;
  color: #BBB;
  display: flex;
  flex-direction:column;
  height: 100%;
}

.og-link {
display: block;
padding: 0.5em;
}

.title .display_name {
display: none;
}

small {
  font-size: inherit;
}

.attach {
  width: 80%;
  height: auto;
  display: block;
  margin:0 auto;
}

.note-container p:first-child {
      margin-top:0
  }

  @media only screen and (max-width: 480px) {
      #menu-item-following {
          display:none
      }
  }

  .base-container {
      flex:1 0 auto;
      padding-bottom: 40px;
  }

  .footer {
      flex-shrink:0
  }

  a, h1, h2, h3, h4, h5, h6 {
      color:#fefefe;
  }

  a {
      text-decoration:none;
  }

  a:hover {
      text-decoration:underline
  }

  .gold {
      /* color:#3f0; */
      color: #BBB;
  }


  .pcolor {
      color:#BBB
  }

  .lcolor {
      color:#bbb
  }

  .older-link, .newer-link, .older-link:hover, .newer-link:hover {
      text-decoration: none;
      padding:3px
  }

  .older-link {
      float:left
  }

  .newer-link {
      float:right
  }

  .clear {
      clear:both
  }


  .remote-follow-button {
      background: #262a32;
      color: #bbb;
      text-decoration: none;
      padding: 5px 8px;
      margin-top: 5px;
      border-radius:0;
  }

  .remote-follow-button:hover {
      text-decoration: none;
      background: #ffffff11;
      color: inherit;
  }


  #admin-menu-wrapper {
      padding: 10px;
      margin: 0 auto;
      width: 100%;
      background: #222;
      max-width:720px
  }

  #admin-menu-wrapper #admin-menu {
      line-height: 2.125;
      list-style-type: none;
      display: inline;
      padding: 10px;
      color: #bbb;
      font-size: 16px;
      border-radius-bottom-left: 0;
      border-radius-bottom-right: 0;
  }

  #admin-menu-wrapper #admin-menu .left {
      float:left
  }

  #admin-menu-wrapper #admin-menu .right {
      float:right
  }

  #admin-menu-wrapper #admin-menu li {
      padding-right:15px
  }

  #admin-menu-wrapper #admin-menu li a {
      text-decoration:none
  }

  #admin-menu-wrapper #admin-menu li .admin-title {
      text-transform: uppercase;
      font-weight:bold
  }

 #admin-menu-wrapper #admin-menu li a:hover {
      color:#AAA
  }

  #admin-menu-wrapper #admin-menu li .selected, #admin-menu-wrapper #admin-menu li a:hover {
    color: #888;
  }

  header#header {
      margin-bottom:80px
  }

  header#header .title {
      font-size: 1.25em;
      padding-right: 15px;
      color:#fefefe
  }

  header#header .title:hover {
      text-decoration:none
  }

  header#header .subtitle-username {
      color:#6a7888
  }

  header#header .menu {
      clear: both;
      padding:0 0 10px 0
  }

  header#header .menu ul {
      display: inline;
      list-style-type: none;
      padding:0
  }

  header#header .menu ul li {
      float: left;
      margin-bottom: 10px;
      margin-right:10px
  }

  header#header .menu a {
      background: #BBB;
      color: #222;
      padding:5px 10px
  }

  header#header .menu a small.badge {
      background: inherit;
      color: inherit;
      border-radius: 0;
      margin-left: 5px;
      padding: 3px 5px 0px 5px;
      font-weight: bold;
      font-size: inherit;
  }

  header#header .menu a.selected {
      background: #888;
      color: #222;
      border-radius:0;
  }

  header#header .menu a.selected .badge {
      color: inherit;
      background: inherit;
  }

  header#header .menu a:hover {
      background: #CCC;
      color: #222;
      text-decoration: none;
      border-radius:0;
  }

  header#header .menu a:hover .badge {
      color: inherit;
      background:inherit;
  }

  #container {
      width: 87%;
      max-width: 720px;
      margin:30px auto;
  }

  #container #notes {
      margin-top:20px
  }

  .actor-box {
      display: block;
      text-decoration: none;
      margin-bottom:40px
  }

  .actor-box .actor-icon {
      width: 120px;
      height: auto;
      border-radius:0;
  }

  .actor-box h3 {
      margin:0
  }

  .actor-box .actor-inline {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden
  }

  .actor-box-big {
      display: block;
      text-decoration:none
  }

  .actor-box-big .actor-box-wrapper {
      margin-bottom:40px
  }

  .actor-box-big .actor-box-wrapper .actor-icon {
      width: 120px;
      border-radius:0;
  }

  .actor-box-big .actor-box-wrapper h3 {
      margin:0
  }

  .note-box {
      margin-bottom:60px
  }

  .note {
      display:flex
  }

  .note .l {
      color:#6a7888;
  }

  .note .h-card {
      flex: initial;
      width: 50px; height: 50px;
      margin-top: 7px;
  }

  .note .u-photo {
      width: 50px; height: 50px;
      border-radius:0;
  }

  .note .note-wrapper {
      flex: 1;
      padding-left: 15px;
      overflow:hidden
  }

  .note .bottom-bar {
      margin-top: 0px;
      display:inline-block;
      color:#6a7888;
  }

  .note .bottom-bar a {
    color:#6a7888;
  }

  a.note-permalink:hover,
  .note .bottom-bar a:hover {
    color:#ddd;
    text-decoration: none;
  }

  .note .img-attachment {
      max-width: 95%;
      border-radius:0;
  }

  .note h3 {
      color:#bbb
  }

  .note strong {
      font-weight:600
  }

  .note .note-container {
      clear: right;
    /*  padding: 10px 0; */
    padding: 0;
      word-break:normal
  }

  .color-menu-background {
      background:#222
  }


    .og-link {
        font-size: 16px;
        padding: 1em;
        background-color: #262a32;
        text-decoration:none;
        width: auto;
        margin: 1em 0 !important;
    }

    .og-link:hover {
        background-color: #ffffff11;
        text-decoration:none
    }



  .bar-item-no-hover {
      cursor: default;
      background: inherit;
      padding: 0;
      color: #BBB;
      margin-right: 5px;
      border-radius: 0;
      float:left
  }

  .bar-item-no-hover a {
    color: #BBB !important;
  }

  .bar-item-no-hover:hover {
      cursor:default
  }

  .bar-item-no-bg {
      cursor: default;
      padding: 0;
      color: #BBB;
      margin-right: 10px;
      border-radius: 0;
      float:left
  }

  .bar-item-no-bg:hover {
      cursor:default
  }

  .bar-item-pinned {
      cursor: default;
      background: #BBB;
      color: #222;
      padding: 0;
      margin-right: 10px;
      border-radius:0;
  }

  .bar-item-pinned:hover {
      cursor:default
  }

  .bar-item {
      background: inherit;
      /*padding: 5px; */
      padding: 0;
      color: inherit;
      margin-right: 10px;
      float: left;
      border-radius:0;
  }

  .bar-item:hover {
      background: inherit;
      color: #ddd;
      text-decoration:none
  }

  .bar-item-no-border {
      color: #bbb;
      background: inherit;
      cursor:default
  }

  .bar-item-no-border:hover {
      color: #ddd;
      background: inherit;
      cursor:default
  }

  .bar-item-reverse {
      background: #BBB;
      color: #060606;
      padding: 5px;
      margin-right: 10px;
      float: left;
      border-radius: 0;
      border:0;
  }

  .bar-item-reverse:hover {
      background: #DDD;
      color:#bbb
  }

  button.bar-item {
      border:0
  }

  form.action-form {
      display:inline;
  }

  .perma {
    /*  font-size:1.25em */
  }

  .bottom-bar .perma-item {
      margin-right:5px
  }

  .bottom-bar a.bar-item:hover {
      text-decoration: none
      color: #ddd;
  }

  .footer > div {
      width: 87%;
      max-width: 720px;
      margin:40px auto
  }

  .footer a, .footer a:hover, .footer a:visited {
      text-decoration: underline;
      color:#6a7888
  }

  .summary {
      color: #ddd;
      /* font-size: 1.1em; */
      margin-top: 10px;
      margin-bottom:25px
  }

  .summary a, .summay a:hover {
      color: #ddd;
      text-decoration:underline
  }

  #followers, #following, #new {
      margin-top:50px
  }

  #admin {
      margin-top:50px
  }

  .tabbar {
      margin-bottom:40px
  }

  .tab {
      padding: 5px 10px;
      text-decoration:none !important;
      border: 0;
  }

  .tab.selected {
      background: #888;
      color: #222;
      border: 0;
      padding: 5px 10px;
  }

  .tab:hover {
      text-decoration: none;
      background: #bbb;
      color:#222;
  }

  textarea, input, select {
      outline: 0;
      background: #FFFFFF55;
      padding: 10px;
      color: #111;
      border: 0px;
      border-radius:0;
      font-size: 19px !important;
  }

  select {
      padding: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #404653;
      color: inherit;
  }

  input {
      padding:10px
  }

  input[type=submit] {
      background: #BBB;
      color: #222;
      font-weight: bold;
      text-transform: capitalize;
  }

  input[type=submit]:hover {
      background: #DDD;
      color: #222;
  }

  input[name="summary"],
  input[name="file"],
  input[name="file_description"],
  input[name="location_name"],
  input#location_lng,
  input#location_lat {
    width: 95%;
    max-width: 500px;
  }

  select {
    display: block;
    width: 100%;
    max-width: 520px;
  }

  select[name="open_for"] {
    margin-top:0.5em;
  }

  ::-webkit-input-placeholder {
    color: #333;
  }

  :-ms-input-placeholder {
    color: #333;
  }

  ::placeholder {
    color: #333;
  }


  .note-video {
      margin:30px 0 10px 0
  }

  li.answer {
      height: 30px;
      margin-bottom: 10px;
      position:relative
  }

  .answer .answer-bar {
      position: absolute;
      height: 30px;
      border-radius:0;
  }

  .answer .answer-text {
      position: relative;
      top: 6px;
      padding-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow:ellipsis
  }

  .answer .answer-text > span {
      width: 70px;
      display: inline-block
  }

  .icon {
      color: #555;
  }


  .emoji {
      width: 15px;
      height: 15px;
  }

  .custom-emoji {
      width: 15px;
      height: 15px;
  }

  #new-activity .emoji {
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }

  dt:after {
      content: ": ";
  }

  dt, dd {
      font-size: 0.9em;
  }

  pre {
      line-height: 125%;
  }

  td.linenos .normal {
      color: inherit;
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
  }

  span.linenos {
      color: inherit;
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
  }

  td.linenos .special {
      color: #000000;
      background-color: #ffffc0;
      padding-left: 5px;
      padding-right: 5px;
  }

  span.linenos.special {
      color: #000000;
      background-color: #ffffc0;
      padding-left: 5px;
      padding-right: 5px;
  }

  .hll {
      background-color: #222222
  }

  .c {
      color: #000080
  }/* Comment */

  .err {
      color: #cccccc;
      border: 1px solid #FF0000
  }/* Error */

  .esc {
      color: #cccccc
  }/* Escape */

  .g {
      color: #cccccc
  }/* Generic */

  .k {
      color: #cdcd00
  }/* Keyword */

  .l {
      color: #cccccc
  }/* Literal */

  .n {
      color: #cccccc
  }/* Name */

  .o {
      color: #3399cc
  }/* Operator */

  .x {
      color: #cccccc
  }/* Other */

  .p {
      color: #cccccc
  }/* Punctuation */

  .ch {
      color: #000080
  }/* Comment.Hashbang */

  .cm {
      color: #000080
  }/* Comment.Multiline */

  .cp {
      color: #000080
  }/* Comment.Preproc */

  .cpf {
      color: #000080
  }/* Comment.PreprocFile */

  .c1 {
      color: #000080
  }/* Comment.Single */

  .cs {
      color: #cd0000;
      font-weight: bold
  }/* Comment.Special */

  .gd {
      color: #cd0000
  }/* Generic.Deleted */

  .ge {
      color: #cccccc;
      font-style: italic
  }/* Generic.Emph */

  .gr {
      color: #FF0000
  }/* Generic.Error */

  .gh {
      color: #000080;
      font-weight: bold
  }/* Generic.Heading */

  .gi {
      color: #00cd00
  }/* Generic.Inserted */

  .go {
      color: #888888
  }/* Generic.Output */

  .gp {
      color: #000080;
      font-weight: bold
  }/* Generic.Prompt */

  .gs {
      color: #cccccc;
      font-weight: bold
  }/* Generic.Strong */

  .gu {
      color: #800080;
      font-weight: bold
  }/* Generic.Subheading */

  .gt {
      color: #0044DD
  }/* Generic.Traceback */

  .kc {
      color: #cdcd00
  }/* Keyword.Constant */

  .kd {
      color: #00cd00
  }/* Keyword.Declaration */

  .kn {
      color: #cd00cd
  }/* Keyword.Namespace */

  .kp {
      color: #cdcd00
  }/* Keyword.Pseudo */

  .kr {
      color: #cdcd00
  }/* Keyword.Reserved */

  .kt {
      color: #00cd00
  }/* Keyword.Type */

  .ld {
      color: #cccccc
  }/* Literal.Date */

  .m {
      color: #cd00cd
  }/* Literal.Number */

  .s {
      color: #cd0000
  }/* Literal.String */

  .na {
      color: #cccccc
  }/* Name.Attribute */

  .nb {
      color: #cd00cd
  }/* Name.Builtin */

  .nc {
      color: #00cdcd
  }/* Name.Class */

  .no {
      color: #cccccc
  }/* Name.Constant */

  .nd {
      color: #cccccc
  }/* Name.Decorator */

  .ni {
      color: #cccccc
  }/* Name.Entity */

  .ne {
      color: #666699;
      font-weight: bold
  }/* Name.Exception */

  .nf {
      color: #cccccc
  }/* Name.Function */

  .nl {
      color: #cccccc
  }/* Name.Label */

  .nn {
      color: #cccccc
  }/* Name.Namespace */

  .nx {
      color: #cccccc
  }/* Name.Other */

  .py {
      color: #cccccc
  }/* Name.Property */

  .nt {
      color: #cccccc
  }/* Name.Tag */

  .nv {
      color: #00cdcd
  }/* Name.Variable */

  .ow {
      color: #cdcd00
  }/* Operator.Word */

  .w {
      color: #cccccc
  }/* Text.Whitespace */

  .mb {
      color: #cd00cd
  }/* Literal.Number.Bin */

  .mf {
      color: #cd00cd
  }/* Literal.Number.Float */

  .mh {
      color: #cd00cd
  }/* Literal.Number.Hex */

  .mi {
      color: #cd00cd
  }/* Literal.Number.Integer */

  .mo {
      color: #cd00cd
  }/* Literal.Number.Oct */

  .sa {
      color: #cd0000
  }/* Literal.String.Affix */

  .sb {
      color: #cd0000
  }/* Literal.String.Backtick */

  .sc {
      color: #cd0000
  }/* Literal.String.Char */

  .dl {
      color: #cd0000
  }/* Literal.String.Delimiter */

  .sd {
      color: #cd0000
  }/* Literal.String.Doc */

  .s2 {
      color: #cd0000
  }/* Literal.String.Double */

  .se {
      color: #cd0000
  }/* Literal.String.Escape */

  .sh {
      color: #cd0000
  }/* Literal.String.Heredoc */

  .si {
      color: #cd0000
  }/* Literal.String.Interpol */

  .sx {
      color: #cd0000
  }/* Literal.String.Other */

  .sr {
      color: #cd0000
  }/* Literal.String.Regex */

  .s1 {
      color: #cd0000
  }/* Literal.String.Single */

  .ss {
      color: #cd0000
  }/* Literal.String.Symbol */

  .bp {
      color: #cd00cd
  }/* Name.Builtin.Pseudo */

  .fm {
      color: #cccccc
  }/* Name.Function.Magic */

  .vc {
      color: #00cdcd
  }/* Name.Variable.Class */

  .vg {
      color: #00cdcd
  }/* Name.Variable.Global */

  .vi {
      color: #00cdcd
  }/* Name.Variable.Instance */

  .vm {
      color: #00cdcd
  }/* Name.Variable.Magic */

  .il {
      color: #cd00cd
  }/* Literal.Number.Integer.Long */

.bar-item {
  /*height: 30px; */
  height:auto;
}

.footer div,
.location_autofill,
input#location_lng,
input#location_lat {
  display: none;
  visibility: hidden;
}

#admin-menu-wrapper {
  background: #21252c;
  padding: 20px 0;
  width: 100%;
  max-width: initial;
  display: block;
}

#admin-menu-wrapper #admin-menu {
  width: 87%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.boost-label {
  line-height: 25px;
  height: 25px;
  color:XXX;
}

input[type="file"] {
  height:18px;
  line-height: 18px;
  color:#333;
}

input[type="file"]::-webkit-file-upload-button {
    background: none !important;
      padding: 0px !important;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      color: #111 !important;
      border: 0 !important;
      margin-right: 10px !important;
      width: 20%;
      text-align: left;
      height:18px;
      line-height: 18px;
}

.boost-label {
  margin-right: 15px;
  color:#6a7888;
  text-align: right;
}

.boost-label:hover {
  color:#ddd;
  text-decoration: none;
}


.note-container,
.p-summary {
/*  font-size: 1.25rem; */
}

.bottom-bar, .bottom-bar button {
  font-size: 17px !important
}

#login-container {
  margin: 3.5em;
}
