
html, body {
  font-family: "Asap", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  /*background-color: #2D313B;*/
  background-color: #292C33;
  font-size: 18px;
  line-height: 1.5;
  color: #ddd;
  display: flex;
  flex-direction:column;
  height: 100%;
}

.title .display_name {
display: none;
}

small {
  font-size: inherit;
}

.attach {
  display: block;
  margin: 10px 0 0 0;
}

.note-container p:first-child {
      margin-top: 0;
  }

.note-container p:last-child {
  margin-bottom: 0;
}

  @media only screen and (max-width: 480px) {
      #menu-item-following {
          display:none
      }
  }

  .base-container {
      flex:1 0 auto;
      padding-bottom: 40px;
  }

  .footer {
      flex-shrink:0
  }

  a, h1, h2, h3, h4, h5, h6 {
      color:#fefefe;
  }

  a {
      text-decoration:none;
  }

  a:hover {
      text-decoration:none;
  }

  a {
    color: #ddd;
  }

  a:hover {
    color: #FEFEFE;
}

  .gold {
      color: #bbb;
  }


  .pcolor {
      color:#bbb;
  }

  .lcolor {
      color:#bbb
  }

  .older-link, .newer-link, .older-link:hover, .newer-link:hover {
      text-decoration: none;
      padding:3px
  }

  .older-link {
      float:left
  }

  .newer-link {
      float:right
  }

  .clear {
      clear:both
  }


  .remote-follow-button {
      background: #21252c;
      color: #bbb;
      text-decoration: none;
      padding: 5px 8px;
      margin-top: 5px;
      font-size:16px;
  }

  .remote-follow-button:hover {
      text-decoration: none;
      background: #ffffff11;
      color: inherit;
  }


  #admin-menu-wrapper {
      padding: 10px;
      margin: 0 auto;
      width: 100%;
      /*background: #222; */
      max-width:720px
  }

  #admin-menu-wrapper #admin-menu {
      line-height: 2.125;
      list-style-type: none;
      display: inline;
      padding: 10px;
      color: #bbb;
  }

  #admin-menu-wrapper #admin-menu .left {
      float:left
  }

  #admin-menu-wrapper #admin-menu .right {
      float:right
  }

  #admin-menu li {
      padding-right:0.8em;
  }

  #admin-menu li a {
      text-decoration:none
  }

  .admin-title {
    font-size: 15px;
  }

  header#header {
    line-height:1.5em;
      margin-bottom:80px;
  }

  header#header .title {
      font-size: 1.5em;
      padding-right: 0.8em;
      color:#ddd;
  }

  header#header .title:hover {
      text-decoration:none
  }

  header#header .subtitle-username {
      color:#5D636E
  }

  header#header .menu {
      clear: both;
      padding:0 0 10px 0
  }

  header#header .menu ul {
      display: inline;
      list-style-type: none;
      padding:0
  }

  header#header .menu ul li {
      float: left;
      margin-bottom: 10px;
      margin-right: 0.8em;
  }

  header#header .menu a {
    color: #74868a;
  }

  header#header .menu a small.badge {
      margin-left: 5px;
      font-weight: bold;
/* hide badges in menu */
      display: none;

  }

  header#header .menu a:hover {
    color: #ACB2BE;
      text-decoration: none;
  }

  #container {
      width: 87%;
      max-width: 720px;
      margin:30px auto;
      overflow: hidden;
  }

  #container #notes {
      margin-top:20px
  }

  .actor-box {
      display: block;
      text-decoration: none;
      margin-bottom:40px
  }

  .actor-box .actor-icon {
      width: 50px;
      height: 50px;
      display: block;
  }

  .actor-box h3 {
      margin:0
  }

  .actor-box .actor-inline {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
      display: block;
  }

  .actor-box-big {
      display: block;
      text-decoration:none
  }

  .actor-box-big .actor-box-wrapper {
      margin-bottom:40px
  }

  .actor-box-big .actor-box-wrapper .actor-icon {
      width: 120px;
  }

  .actor-box-big .actor-box-wrapper h3 {
      margin:0
  }

  .note-box {
      margin-bottom:60px
  }

  .note {
      display:flex
  }

  .note .l {
      color: #74868a;
  }

  .note .h-card {
      flex: initial;
      width: 50px; height: 50px;
      margin-top: 7px;
  }

  .note .u-photo {
      width: 50px; height: 50px;
  }

  .note .note-wrapper {
      flex: 1;
      padding-left: 15px;
      overflow:hidden
  }

  .note .bottom-bar {
      margin-top: 0.5em;
      display:inline-block;
  }

  .note .bottom-bar .bar-item {
    color:#5D636E !important;
    height: 1.5em;
  }

.note .bottom-bar .bar-item:hover {
    color: #ACB2BE !important;
  }

  .note .img-attachment {
      max-width: 95%;
  }

  .note h3 {
      color:#bbb
  }

  .note strong {
      font-weight:600
  }

  .note .note-container {
      font-size: 1rem;
      clear: right;
      word-break:normal;
  }

  .color-menu-background {
      background:#222
  }


    .og-link {
        display: block;
        font-size: 16px;
        padding: 1em;
        background-color: #24272d;
        color: #ACB2BE;
        text-decoration:none;
        width: auto;
        margin: 0.5em 0 !important;
    }

    .og-link:hover {
        color: #ddd;
        background-color: #2d353b;
        text-decoration:none
    }



  .bar-item-no-hover {
      cursor: default;
      background: inherit;
      padding: 0;
      color: #BBB;
      margin-right: 5px;
      float:left
  }

  /* .bar-item-no-hover a {
    color: #BBB;
  } */

  .bar-item-no-hover:hover {
      cursor:default
  }

  .bar-item-no-bg {
      cursor: default;
      padding: 0;
      color: #BBB;
      margin-right: 10px;
      float:left
  }

  .bar-item-no-bg:hover {
      cursor:default
  }

  .bar-item-pinned {
      cursor: default;
      background: #BBB;
      color: #222;
      padding: 0;
      margin-right: 10px;
  }

  .bar-item-pinned:hover {
      cursor:default
  }

  .bar-item {
      background: inherit;
      padding: 0;
      color: inherit;
      margin-right: 0.8em;
      float: left;
      color: #5D636E;
  }

  .bar-item:hover {
      background: inherit;
      color: #ACB2BE;
      text-decoration:none
  }

  .bar-item-no-border {
      color: #bbb;
      background: inherit;
      cursor:default
  }

  .bar-item-no-border:hover {
      color: #ddd;
      background: inherit;
      cursor:default
  }

  .bar-item-reverse {
      background: #BBB;
      color: #060606;
      padding: 5px;
      margin-right: 10px;
      float: left;
      border:0;
  }

  .bar-item-reverse:hover {
      background: #DDD;
      color:#bbb
  }

  button.bar-item {
      border:0
  }

  form.action-form {
      display:inline;
  }

  .perma {
    /*  font-size:1.25em */
  }

  .bottom-bar .perma-item {
      margin-right:5px
  }

  .bottom-bar a.bar-item:hover {
      text-decoration: none
      color: #ddd;
  }

  .footer > div {
      width: 87%;
      max-width: 720px;
      margin:40px auto
  }

  .footer,
  .footer a {
      color:#5D636E;
  }

  .footer a:hover {
    color: #ACB2BE;
  }

  .summary {
      color: #ddd;
  }

  .summary a {
      color: #ddd;
      text-decoration:underline;
  }

  .summary a:hover {
    color: #fcfcfc;
  }

  .profile-picture {
    width: 100px;
    height: auto;
    float: right;
  }

  #header .summary p {
    margin-top: 0;
    color: #ACB2BE;
    font-size: 1.125em;
  }

  #followers, #following, #new {
      margin-top:50px
  }

  #admin {
      margin-top:50px
  }

  .tabbar {
      margin-bottom: 1em;
  }

  .tab {
      /* padding: 5px 10px; */
      text-decoration: none !important;
      border: 0;
      margin-right: 0.8em;
  }

  /* .tab.selected {
      color: #222;
      border: 0;
      padding: 5px 10px;
  } */

  /* .tab:hover {
      text-decoration: none;
      color:#222;
  } */

  textarea, input, select {
      outline: 0;
      background:#40444f;
      padding: 10px;
      color: #ACB2BE;
      border: 0px;
      font-size: 18px !important;
      width: 95%;
  }


  select {
      padding: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
  }

  input {
      padding:10px
  }

  input[type=submit] {
      background: #21252c;
      color: #5D636E;
      font-weight: bold;
      text-transform: capitalize;
      width: auto;
      padding: 10px 20px;
  }

  input[type=submit]:hover {
      background: #343841;
      color: #ACB2BE;
  }

  input[name="summary"],
  input[name="file"],
  input[name="file_description"],
  input[name="location_name"],
  input#location_lng,
  input#location_lat {
    width: 95%;
    max-width: 500px;
  }

  select {
    display: block;
    width: 100%;
    max-width: 520px;
  }

  select[name="open_for"] {
    margin-top:0.5em;
  }

  ::-webkit-input-placeholder {
    color: #6a7888;
  }

  :-ms-input-placeholder {
    color: #6a7888;
  }

  ::placeholder {
    color: #6a7888;
  }


  .note-video {
      margin:30px 0 10px 0
  }

  li.answer {
      height: 30px;
      margin-bottom: 10px;
      position:relative
  }

  .answer .answer-bar {
      position: absolute;
      height: 30px;
  }

  .answer .answer-text {
      position: relative;
      top: 6px;
      padding-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow:ellipsis
  }

  .answer .answer-text > span {
      width: 70px;
      display: inline-block
  }

  .icon {
      color: #555;
  }


  .emoji {
      width: 15px;
      height: 15px;
  }

  .custom-emoji {
      width: 15px;
      height: 15px;
  }

  #new-activity .emoji {
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }

  dt:after {
      content: ": ";
  }

  dt, dd {
      font-size: 0.9em;
  }

  pre {
      line-height: 125%;
  }

  td.linenos .normal {
      color: inherit;
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
  }

  span.linenos {
      color: inherit;
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
  }

  td.linenos .special {
      color: #000000;
      background-color: #ffffc0;
      padding-left: 5px;
      padding-right: 5px;
  }

  span.linenos.special {
      color: #000000;
      background-color: #ffffc0;
      padding-left: 5px;
      padding-right: 5px;
  }

  .hll {
      background-color: #222222
  }

  .c {
      color: #000080
  }/* Comment */

  .err {
      color: #cccccc;
      border: 1px solid #FF0000
  }/* Error */

  .esc {
      color: #cccccc
  }/* Escape */

  .g {
      color: #cccccc
  }/* Generic */

  .k {
      color: #cdcd00
  }/* Keyword */

  .l {
      color: #cccccc
  }/* Literal */

  .n {
      color: #cccccc
  }/* Name */

  .o {
      color: #3399cc
  }/* Operator */

  .x {
      color: #cccccc
  }/* Other */

  .p {
      color: #cccccc
  }/* Punctuation */

  .ch {
      color: #000080
  }/* Comment.Hashbang */

  .cm {
      color: #000080
  }/* Comment.Multiline */

  .cp {
      color: #000080
  }/* Comment.Preproc */

  .cpf {
      color: #000080
  }/* Comment.PreprocFile */

  .c1 {
      color: #000080
  }/* Comment.Single */

  .cs {
      color: #cd0000;
      font-weight: bold
  }/* Comment.Special */

  .gd {
      color: #cd0000
  }/* Generic.Deleted */

  .ge {
      color: #cccccc;
      font-style: italic
  }/* Generic.Emph */

  .gr {
      color: #FF0000
  }/* Generic.Error */

  .gh {
      color: #000080;
      font-weight: bold
  }/* Generic.Heading */

  .gi {
      color: #00cd00
  }/* Generic.Inserted */

  .go {
      color: #888;
  }/* Generic.Output */

  .gp {
      color: #000080;
      font-weight: bold
  }/* Generic.Prompt */

  .gs {
      color: #cccccc;
      font-weight: bold
  }/* Generic.Strong */

  .gu {
      color: #800080;
      font-weight: bold
  }/* Generic.Subheading */

  .gt {
      color: #0044DD
  }/* Generic.Traceback */

  .kc {
      color: #cdcd00
  }/* Keyword.Constant */

  .kd {
      color: #00cd00
  }/* Keyword.Declaration */

  .kn {
      color: #cd00cd
  }/* Keyword.Namespace */

  .kp {
      color: #cdcd00
  }/* Keyword.Pseudo */

  .kr {
      color: #cdcd00
  }/* Keyword.Reserved */

  .kt {
      color: #00cd00
  }/* Keyword.Type */

  .ld {
      color: #cccccc
  }/* Literal.Date */

  .m {
      color: #cd00cd
  }/* Literal.Number */

  .s {
      color: #cd0000
  }/* Literal.String */

  .na {
      color: #cccccc
  }/* Name.Attribute */

  .nb {
      color: #cd00cd
  }/* Name.Builtin */

  .nc {
      color: #00cdcd
  }/* Name.Class */

  .no {
      color: #cccccc
  }/* Name.Constant */

  .nd {
      color: #cccccc
  }/* Name.Decorator */

  .ni {
      color: #cccccc
  }/* Name.Entity */

  .ne {
      color: #666699;
      font-weight: bold
  }/* Name.Exception */

  .nf {
      color: #cccccc
  }/* Name.Function */

  .nl {
      color: #cccccc
  }/* Name.Label */

  .nn {
      color: #cccccc
  }/* Name.Namespace */

  .nx {
      color: #cccccc
  }/* Name.Other */

  .py {
      color: #cccccc
  }/* Name.Property */

  .nt {
      color: #cccccc
  }/* Name.Tag */

  .nv {
      color: #00cdcd
  }/* Name.Variable */

  .ow {
      color: #cdcd00
  }/* Operator.Word */

  .w {
      color: #cccccc
  }/* Text.Whitespace */

  .mb {
      color: #cd00cd
  }/* Literal.Number.Bin */

  .mf {
      color: #cd00cd
  }/* Literal.Number.Float */

  .mh {
      color: #cd00cd
  }/* Literal.Number.Hex */

  .mi {
      color: #cd00cd
  }/* Literal.Number.Integer */

  .mo {
      color: #cd00cd
  }/* Literal.Number.Oct */

  .sa {
      color: #cd0000
  }/* Literal.String.Affix */

  .sb {
      color: #cd0000
  }/* Literal.String.Backtick */

  .sc {
      color: #cd0000
  }/* Literal.String.Char */

  .dl {
      color: #cd0000
  }/* Literal.String.Delimiter */

  .sd {
      color: #cd0000
  }/* Literal.String.Doc */

  .s2 {
      color: #cd0000
  }/* Literal.String.Double */

  .se {
      color: #cd0000
  }/* Literal.String.Escape */

  .sh {
      color: #cd0000
  }/* Literal.String.Heredoc */

  .si {
      color: #cd0000
  }/* Literal.String.Interpol */

  .sx {
      color: #cd0000
  }/* Literal.String.Other */

  .sr {
      color: #cd0000
  }/* Literal.String.Regex */

  .s1 {
      color: #cd0000
  }/* Literal.String.Single */

  .ss {
      color: #cd0000
  }/* Literal.String.Symbol */

  .bp {
      color: #cd00cd
  }/* Name.Builtin.Pseudo */

  .fm {
      color: #cccccc
  }/* Name.Function.Magic */

  .vc {
      color: #00cdcd
  }/* Name.Variable.Class */

  .vg {
      color: #00cdcd
  }/* Name.Variable.Global */

  .vi {
      color: #00cdcd
  }/* Name.Variable.Instance */

  .vm {
      color: #00cdcd
  }/* Name.Variable.Magic */

  .il {
      color: #cd00cd
  }/* Literal.Number.Integer.Long */

.bar-item {
  /*height: 30px; */
  height:auto;
}

.location_autofill,
input#location_lng,
input#location_lat {
  display: none;
  visibility: hidden;
}

#admin-menu-wrapper {
  background: #21252c;
  padding: 20px 0;
  width: 100%;
  max-width: initial;
  display: block;
}

#admin-menu-wrapper #admin-menu {
  width: 87%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

input[type="file"] {
  height:18px;
  line-height: 18px;
  color:#6a7888;
}

input[type="file"]::-webkit-file-upload-button {
    background: none !important;
      padding: 0 0.25em 0 0 !important;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      color: #6a7888 !important;
      border: 0 !important;
      text-align: left;
      height:18px;
      line-height: 18px;
      font-family: inherit !important;
      font-weight: bold !important;
}

.unboost {
  margin: 0 7px;
  height: 25px;
  line-height: 25px;
  text-align: right;
  float: right;
}

.unboost:hover {
  text-decoration: none;
}


.p-summary {
  font-size: 1.25em;
  margin: 0 0 0.5em 0;
}

.bottom-bar, .bottom-bar button {
font-size: 18px !important;
line-height: 27px;
}

#login-container {
  margin: 3.5em;
}

ul, li {
  padding-left: 0;
  list-style: none;
}

.boost-actor-box {
  display: inline-block;
  margin-left: 65px;
  margin-bottom: 0.5em;
  margin-top: 0px;
  font-size:16px !important;
  color: #ACB2BE;
}

.boost-actor-box .bar-item-no-hover {
  display: inline-block;
  float: none;
/*  padding: 4px 8px 2px 8px;
  background-color:#21252c; */
}


.boost-actor-box a {
  color: #ACB2BE !important;
}
.boost-actor-box a:hover {
  color: #ddd !important;
}

.actor-action {
  margin-right: 5px;
}

.note-permalink {
}

a.note-permalink {
  color: #5D636E !important;
}

a.note-permalink:hover {
  color: #ACB2BE !important;
}

.display-actor-box {
  float: right;
  height: 200px;
  width: 200px;
}
.follow-box {
  float: left;
  height: 200px;
  width: 50%;
}
.accept-box {
  float: left;
  height: 200px;
  width: 50%;
}

.note aside > a {
  display: inline-block;
  margin-bottom: 0.25em;
}

.boost-actor-box > span {
  display: inline-block;
  margin-right: 3px;
}

br + br {
  display: none;
}

.attach ul {
  margin: 0;
}

.note .note-container {
  display: block;
  margin: 0;
  padding: 0;
}


.tab,
#admin-menu li a {
  color: #5D636E;
}

.tab:hover,
#admin-menu li a:hover {
   color:#ACB2BE;
}

.tab.selected,
#admin-menu li a.selected {
   color:#ACB2BE;
 }

.note-container a {
  color: #ACB2BE;
  text-decoration: underline;
}

.note-container a:hover {
  color: #ddd;
}
